.top-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: #075b0a;
    color: #fff;
  }
  
  .header-title {
    margin: 20px 0;
  }
  
  .scroll-progress-tracking-container {
    width: 100%;
    height: 10px;
    background: #aaf900;
  }
  
  .current-progress-bar {
    height: 10px;
    background: #8b02b5;
  }
  
  .data-container {
    margin-top: 100px;
  }
  
  .data-product {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(211, 5, 5, 0.1);
  }
  